* {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif !important;
}
body {
  margin: 0;
  background: #ebeef1;
}
.container {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: calc(env(safe-area-inset-bottom, 0) + 2em);
  left: 20px;
}
#content {
  font-size: 100%;
  line-height: 1.5em;
  margin: 0;
  padding: 20px;
  overflow-y: auto;
  resize: none;
  width: 100%;
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
  border: 1px #ddd solid;
  outline: none;
}

#markdown-content {
  font-size: 100%;
  line-height: 1.5em;
  margin: 0;
  padding: 20px;
  overflow-y: auto;
  resize: none;
  width: 100%;
  height: 100%;
  min-height: 100%;
  outline: none;
  box-sizing: border-box;
  border: 1px #ddd solid;
  background-color: white;
}

#printable {
  display: none;
}
.link {
  position: fixed;
  left: 0;
  right: 0;
  bottom: calc(env(safe-area-inset-bottom, 0) + 1em);
  height: 0.8em;
  text-align: center;
  color: #313131;
  font-size: 14px;
  font-family: Menlo, Monaco, Consolas, "Courier New", sans-serif;
}

.link a {
  display: inline-block;
  color: #313131;
  text-decoration: none;
}

#qrcodePopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  display: none;
}

#qrcode {
  text-align: center;
  margin-bottom: 10px;
}

.notify {
  position: fixed;
  bottom: calc(env(safe-area-inset-bottom, 0) + 4em);
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  z-index: 999;
}

@media screen and (max-width: 767px) {
  .notify {
    font-size: 12px;
  }
}

/* markdown style */


#markdown-content a {
  color: #5281bf
}

#markdown-content a:visited {
  outline: thin dotted;
}

#markdown-content a:active,
#markdown-content a:hover {
  outline: 0;
}

#markdown-content code, pre, #ws, #message {
	font-family: ui-monospace,SFMono-Regular,"SF Mono",Menlo,Consolas,"Liberation Mono",monospace !important;
	border-radius: 3px;
	background-color: #F8F8F8;
	color: inherit;
}

#markdown-content code {
	border: 1px solid #EAEAEA;
	margin: 0 2px;
	padding: 0 5px;
}

#markdown-content pre {
	border: 1px solid #CCCCCC;
	overflow: auto;
	padding: 4px 8px;
}

#markdown-content pre > code {
	border: 0;
	margin: 0;
	padding: 0;
}

/* end markdown style */

/* dark mode */

@media (prefers-color-scheme: dark) {
  body {
    background: #292c33;
  }
  #content, #markdown-content {
    background: #22252a;
    color: #f8f8f2;
    border: 0;
  }
  #markdown-content a {
    color: #a2cefb;
  }
  .link,
  .link a {
    color: #aaa;
  }
  #markdown-content code, pre, #ws, #message {
    background-color: #2d333b;
  }

  #markdown-content code {
    border: 1px solid #464c55;
  }

  #markdown-content pre {
    border: 1px solid #464c55;
  }
}

@media print {
  .container {
    display: none;
  }
  #printable {
    display: block;
    white-space: pre-wrap;
    word-break: break-word;
  }
}